<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>Cognito</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-east-1:e8fa1784-aca5-4385-a6e9-527a20028d4c</string>
					<key>Region</key>
					<string>us-east-1</string>
				</dict>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub 4793abf7-3f48-4fec-b3ff-d86b4db677da aws-my-sample-app-ios-objc-v0.17</string>
		</dict>
		<key>UserFileManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
				<key>S3Bucket</key>
				<string>forefront-userfiles-mobilehub-1269340312</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ForeOrder Employee</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.11</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>59898d5d433ef712527640bd0b60be58ff26a83b</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ForeOrder utilizes background location services to create an optimal user experience.
Background location services are essential in ensuring your position is accurate at all times while at a golf course. This ensures that course employees know your position and can have food and beverage orders ready for pick-up when you arrive or delivered in a timely fashion.
</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>ForeOrder utilizes background location services to create an optimal user experience.
Background location services are essential in ensuring your position is accurate at all times while at a golf course. This ensures that course employees know your position and can have food and beverage orders ready for pick-up when you arrive or delivered in a timely fashion.
</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ForeOrder utilizes background location services to create an optimal user experience.
Background location services are essential in ensuring your position is accurate at all times while at a golf course. This ensures that course employees know your position and can have food and beverage orders ready for pick-up when you arrive or delivered in a timely fashion.
</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ForeOrder employees can use photos of users to help facilitate delivery</string>
	<key>NSPhotoLibraryUsageDescription </key>
	<string>ForeOrder uses profile images to help employees determine who you are when fulfilling orders.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Hairline.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Bold.otf</string>
	</array>
	<key>UIAppFonts - 2</key>
	<array>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Hairline.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Bold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchViewController</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
